*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body,
#root{
  height: 100%;
  width: 100%;
  background: #000;
  padding-top: 0.5rem;
}

.notes{
  display: flex;
  padding-block: 1rem;
  padding-inline: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
}
.note{
  max-width: 20rem;
  background-color: rgb(90, 90, 90);
  color: white;
  padding: 0.75rem;
  border-radius: 1rem;
}
.note button{
  padding: 5px 10px;
  border: none;
  background-color: mediumorchid;
  margin-top: 10px;
  border-radius: 1rem;
  color: white;
  margin-left: 0.75rem;
}
form{
  display: flex;
  height: 2rem;
  gap: 1rem;
  padding-inline:1rem ;
  
}
form input{
  height: 2rem;
}
form button{
  padding:10px;
  background-color: royalblue;
  border-radius: 1rem;
  border: none;  
}
